In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
cols = ['timestamp','tweet_text','username','all_hashtags']

In [3]:
df = pd.read_csv("FacebookDown_instagramdown.csv",header=None, names=cols)

In [4]:
df = df[df['timestamp']!='timestamp']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 446745 entries, 1 to 447261
Data columns (total 4 columns):
timestamp       446745 non-null object
tweet_text      446745 non-null object
username        446745 non-null object
all_hashtags    446745 non-null object
dtypes: object(4)
memory usage: 17.0+ MB

In [6]:
df.describe()

,timestamp,tweet_text,username,all_hashtags
count,446745,446745,446745,446745
unique,1301,1312,1181,796
top,2019-03-14 14:34:19,"Thank you @Twitter for being you. Yesterday, @...",BestPhotosFilms,"['FacebookDown', 'instagramdown']"
freq,890,888,2668,37176

In [7]:
tweets = df.copy()

In [8]:
tweets.head()

,timestamp,tweet_text,username,all_hashtags
1,2019-03-14 16:27:07,"True, true. #Instagram #Instagramdown #Facebo...",bklyn_hayshun,"['Instagram', 'Instagramdown', 'Facebookdown']"
2,2019-03-14 16:26:46,How to prepare yourself for social media outag...,Postfity,"['facebookdown', 'instagramdown']"
3,2019-03-14 16:25:41,When #FacebookDown #facebookoutage #InstagramB...,NikeMC,"['FacebookDown', 'facebookoutage', 'InstagramB..."
4,2019-03-14 16:24:50,#FacebookDown and #instagramdown make me conte...,ftchkn,"['FacebookDown', 'instagramdown', 'crypto', 'b..."
5,2019-03-14 16:24:01,"Facebook, Instagram And Whatsapp Hit By Major ...",DailyMulligan,"['FacebookDown', 'instagramdown', 'whatsappdow..."

In [9]:
tweets.describe()

,timestamp,tweet_text,username,all_hashtags
count,446745,446745,446745,446745
unique,1301,1312,1181,796
top,2019-03-14 14:34:19,"Thank you @Twitter for being you. Yesterday, @...",BestPhotosFilms,"['FacebookDown', 'instagramdown']"
freq,890,888,2668,37176

# Data Preparation

## HTML encoding

In [10]:
pd.options.display.max_colwidth
text_with_html_encoding = tweets[tweets['tweet_text'].str.contains('&amp')]['tweet_text'].iloc[0]
print(text_with_html_encoding)

How to prepare yourself for social media outage? How can you make sure your social media strategy is sustainable? Check out our guest post on GetaNewsletter's blog &amp; find out how to use social media to collect email subscribers https://t.co/yKXmmCwgpA #facebookdown #instagramdown

In [11]:
from bs4 import BeautifulSoup
example1 = BeautifulSoup(text_with_html_encoding, 'lxml')
print(example1.get_text())

How to prepare yourself for social media outage? How can you make sure your social media strategy is sustainable? Check out our guest post on GetaNewsletter's blog & find out how to use social media to collect email subscribers https://t.co/yKXmmCwgpA #facebookdown #instagramdown

## Lower Case

In [12]:
tweets['tweet_text'] = tweets['tweet_text'].astype(str).str.lower()

## '@' mention

##### I noticed that removing the mention of either facebook, instagram or twitter would make me lose sometimes the tweet's meaning. So I chose to remove any other mention. For example:
###### "thank you twitter for being you. yesterday, facebook and twitter were messing"
###### has more sense than 
###### "thank you  for being you. yesterday,  and  were messing"

In [13]:
# The most frequent tweet as I noticed it contained already a '@' from the tweets.describe()
tweets['tweet_text'].mode()[1]

'thank you @twitter for being you. yesterday, @facebook and @instagram were messing with our mojo #facebookdown #instagramdown'

In [14]:
import re
example = tweets['tweet_text'].mode()[1] + '@amine @hosni'
example = re.sub(r'@facebook','facebook',example)
example = re.sub(r'@twitter','twitter',example)
example = re.sub(r'@instagram','twitter',example)
example = re.sub(r'@[A-Za-z0-9]+','',example)
example

'thank you twitter for being you. yesterday, facebook and twitter were messing with our mojo #facebookdown #instagramdown '

## Defining data cleaning function

In [15]:
pattern = '@facebook|@twitter|@instagram|@[a-z0-9]+|https?://[A-Za-z0-9./]+'

In [16]:
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    stripped = re.sub(pattern, '', souped)
    letters_only = re.sub("[^a-z]", " ", stripped)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = tok.tokenize(letters_only)
    return (" ".join(words)).strip()

testing = tweets['tweet_text'].iloc[:100]
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))
test_result

['true true instagram instagramdown facebookdown',
 'how to prepare yourself for social media outage how can you make sure your social media strategy is sustainable check out our guest post on getanewsletter s blog find out how to use social media to collect email subscribers facebookdown instagramdown',
 'when facebookdown facebookoutage instagramblackout instagramdown listening to uptight everything s alright by stevie wonder on',
 'facebookdown and instagramdown make me contemplate life so much teenagers nowadays spend more than hours each day on social network while they can spend that time educating themselves about crypto blockchain and what project can generate like bcnex bigbom zerobank',
 'facebook instagram and whatsapp hit by major outage facebookdown instagramdown whatsappdown worldnews',
 'the blessings of the social blackout for our brain peace focus brain addiction hypothalamus priorities resilience facebookdown instagramdown',
 'checkout this coversong souhilabenlachhab algeria facebookdown instagramdown suzano facebook btsxsnl sweartogod meb felsefeciata weareerdogan instagram',
 'has denied it was hacked despite the most severe outage in the firm s history that kept users locked out for more than hours facebookdown instagramdown',
 'andy didn t let facebookdown or instagramdown get him down thank you to everyone who donated a total of to build a stronger community rvgives may be over but your support will impact others for a lifetime of restoringhope',
 'now we know why instagramdown and facebookdown it s because of avengersendgame',
 'telegram messenger gained million new users within last hours thanks to the facebook instagram and whatsapp global outages facebookisdown facebookdown facebookisdown whatsappdown instagramdown instagramblackout instagramisdown',
 'in the aftermath of facebookdown instagramdown whatsappdown asks are we in too deep',
 'technically yesterday but facebookdown instagramdown',
 'people in i ve survived ww people in i ve survived facebookdown and instagramdown',
 'i tried to post this yesterday like times so my apologies if it suddenly does post times instagramdown facebookdown loved having piano gal in the studio the other day she s',
 'look i can deal with facebookdown instagramdown but bobdown is too much',
 'we didn t mean to facebookdown instagramdown plumber whateverittakes newnan',
 'the world yesterday during the great instagram and facebook outage instagramblackout instagramdown facebookdown',
 'need a great book to read the fake date a date that left her fighting for her life thriller suspense womensupportingwomen thursdaythoughts psychologicalthriller facebookdown instagramdown yorkshire scarborough lovesuspense',
 'there s still issues facebookdown instagramdown whatsappdown',
 'tomorrow night the st patrick s day variants and the jack of spades variants leave the store jack of spades art by arturo louga and sanju nivangune comicart facebookdown instagramdown comiccon stpatricksday',
 'both said we don t know what s going on with our platforms but we can assure you it wasn t a hack lie question is how much of our info was leaked stolen etc ddos facebookdown instagramdown facebookhacked instagramhacked',
 'facebookdown instagramdown the election has declared india so i think every social media like instagram and facebook has occurring some problem',
 'the irony made me chuckle during its outage facebook turns to twitter to share updates by via socialmedia instagramdown facebookdown',
 'need to catch up today facebookdown instagramdown greatoutage isurvived',
 'telegram messenger gained million new users within last hours thanks to the facebook instagram and whatsapp global outages facebookisdown facebookdown facebookisdown whatsappdown instagramdown',
 'don t worry this shit is temporary on twitter now facebook n instagram working fine so everything will fine here again facebookdown instagramdown',
 'so that explains everything mojo jojo took down facebook s sites facebookdown instagramdown',
 'top trends today at indonesia whatsappdown jaenudindown facebookdown instagramdown gopersi o',
 'breaking facebook says it is back up after a server configuration issue made it difficult for people to access its apps and services facebookdown facebookisdown facebook instagramdown forsan news',
 'facebook instagram and whatsapp are all having problems this is the reason behind it facebookdown facebookoutage facebook facebookisdown facebook instagramdown instagram instagramnotworking instagramblackout whatsappdown whatsapp',
 'i was born for this moment betoforpresident election tcot trumptrain instagramdown facebookdown',
 'is it just me or is facebookdown instagramdown hapning just before faces a criminal probe on their data practices awfully close to each other did they lose a lot of incriminating data',
 'this weeks rooms are up for sandals beaches couldn t post yesterday because of instagramdown and facebookdown so here they are contact me today for all booking information deposits as low as per person sandalsspecialist sandalstravelagent shopsmallbusiness',
 'i thoughts it s just my network but seems many people were facing loading and shutting down issues on and instagramdown facebookdown whatsappdown',
 'zuckerberg under investigation sends off a warning shot yesterday about how the world would be without his platforms facebookdown instagramdown power',
 'yesterday we had facebookdown instagramdown whatsappdown interesting to see from our survey that no one chose a return to traditional print ads what alternatives are there for your business if socialmedia was no more thursdaythoughts',
 'hope everyone enjoyed instagramdown facebookdown yesterday as much as i did dmrequests imdeadaf',
 'hcm systems are critical for taking care of you people make sure you have the right one in place facebookdown instagramdown whatsappdown gmaildown',
 'with facebook and instagram down for so long i begin to wonder if they had information that would have led to the arrest of hillary clinton facebookblackout facebookdown instagramdown',
 'down facebookdown cartoon comics humor umorismo satira fumetti vignette marzo instagramdown whatsappdown',
 'i ll take one in medium facebookdown instagramdown socialmedia survivor',
 'you will always remember where you were when facebook and instagram went down for a couple hours facebookdown instagramdown instagramblackout theendisnear',
 'need a great book to read the fake date a date that left her fighting for her life thriller suspense womensupportingwomen thursdaythoughts psychologicalthriller facebookdown instagramdown yorkshire scarborough lovesuspense',
 'is down for anyone or is it just me instagram instagramblackout instagramshutdown instagramdown instagramisback facebookoutage facebook facebookblackout facebookup facebookcrash facebookandinstagram facebookdown',
 'be honest who panicked with instagram and facebook down for several hours yesterday facebookdown instagramdown behonest',
 'is the only place that s actually up wow facebookdown instagramdown whataday howsyours',
 'when facebook and instagram went down for a day instagramdown facebookdown whatsappdown',
 'the real reason for the outage yesterday the darpa lifelog crew on cleanup facebookdown instagramdown qanon qarmy wwg wga facebook s data deals are under criminal investigation',
 'reading these tweets that twitter was banging yesterday has me like twitter is my go to app teamtwitter facebookdown instagramdown',
 'when life so dope you didn t know that instagramdown facebookdown was even happenin cause you were too busy being social n enjoyin life in real time',
 'facebookdown and instagramdown was the national emergency that was probably facebook instagram users trying to see if the problem was their wifi',
 'instagramdown facebookdown and everyone s talking about not being so dependant on these things but let s be real most of y all still ended up either here on twitter or on whatsapp or imessage it s not like y all put your phones down went outside and smelled the roses',
 'must watch since facebooks down instagramdown technology thursdaythoughts cheat facebookdown facebook facebookisdown facebookdown ddos',
 'so instagram and facebook went down yesterday to prepare for the new avengersendgame trailer that explains it instagramdown facebookdown',
 'just checking to see whether facebook instagram are still down make it a great thursday both on and off of social media facebookdown instagramdown thursdaythoughts',
 'literally everyone when facebookdown and instagramdown happened',
 'pastors everywhere realizing facebookdown and instagramdown will be added to their sunday sermons as a perfect illustration on idolatry',
 'is anyone else s still being slow and not letting them message or post instagramdown facebookdown',
 'instagramdown facebookdown but thank god twitter dey',
 'mercury retrograde victims facebook instagram oops facebookdown instagramdown psychicmediumapril intuitiveapril psychichousewife paranormalinvestigation psychicmedium',
 'the internet is back but you can still subscribe to instagramdown facebookdown craftbeer beerblog',
 'savior an amazing message for jammu kashmir the savior of humanity has descended to earth do you know about him if not then read gyan ganga if you want to get it free then write your name address and mobile number in comment box facebookdown instagramdown whatsappdown',
 'facebook and instagram are down guess we ll have to enjoy the outdoors then facebookdown instagramdown outdoorsup ig',
 'did you feel the pain endoftheworld instagramdown whatsappdown facebookdown',
 'rumour has it if your social media was down yesterday you re actually ugly idk probably just a rumour facebookdown instagramdown',
 'facebookdown instagramdown now that i have your attention this is what y all fuckers get for using facebook and instagram',
 'facebook has denied that their extensive downtime was due to a ddos attack but we re no closer to understanding the cause of the problems facebookdown facebookoutage instagramdown instagramblackout',
 'whatsappdown facebookdown instagramdown but twitter aman',
 'this made my day facebook instagram facebookdown instagramdown myspace goodoldtom old timey casting',
 'manggggg my ol lady was actin like an crack addict when insta was down instagram instagramdown facebookdown',
 'how the crew reacted to yesterday s dual platform blackout facebookdown instagramdown socialmedia',
 'when you realise you and your friend don t have any issues on facebook and instagram facebookdown instagramdown',
 'quote of the day instagram crashed this could be the millennial great depression a dust bowl for influencers facebookdown facebookoutage instagramdown',
 'happy post humpday tried to post this yesterday but with facebookdown instagramdown i thought i was hacked i panicked tried to change my passwords could not',
 'now that instagram is working again i wanted to take a look at some updates and eye that s not it instagramdown facebookdown btsxsnl bts twt',
 'twitter is hilarious with all the facebookdown instagramdown memes i am loving it',
 'it is working much better than facebook and instagram facebookdown instagramdown',
 'if the ig and fb glitch taught you anything i hope it was that you should have more than one means of communication with your audience a website is a must igblackout facebookdown instagramdown instagramblackout socialmediacraze thursdaythoughts',
 'i think yesterday a lot of people suddenly remembered they had a twitter account facebookdown instagramdown',
 'breaking instagram facebook after hours of maintenance is back again long time inaccessibility for the users in social media history twitter connecting the global community facebookdown facebook facebookoutage instagramdown instagram instagramnotworking',
 'i did some serious podcasting yesterday what did you do while instagramdown and facebookdown',
 'well this tweet blew up instagramdown facebookdown',
 'need a great book to read the fake date a date that left her fighting for her life thriller suspense womensupportingwomen thursdaythoughts psychologicalthriller facebookdown instagramdown yorkshire scarborough lovesuspense',
 'how did facebookdown and instagramdown yesterday affect you i m chatting with other industry pros about social media do s and don ts on the blog today',
 'before the facebookdown and instagramdown outage yesterday we hosted a st patrick s day facebook live video with chef dino he made some truly delicious corned beef sliders with corned beef you can get the full recipe here',
 'instagram and facebook are down so twitter has become the new sharing platform for toronto wood design projects recent coasters that will be demolded tonight facebookdown instagramdown woodworking resin',
 'when facebookdown instagramdown',
 'first instagramdown facebookdown',
 'while facebookdown instagramdown nyc get out there and ride',
 'free time without social media how people responded to facebook and instagram being down trending facebookdown instagramdown',
 'i wish you all had cared about the election as much as you care about instagramdown facebookdown',
 'just like the old song says facebookdown instagramdown',
 'which shutdown put more ppl out of work govt shutdown govt workers or instagram fb shutdown scammers ig hoes influencers facebookdown instagramdown',
 'we survived instagramdown facebookdown',
 'checkout this coversong souhilabenlachhab algeria facebookdown instagramdown suzano facebook btsxsnl sweartogod meb felsefeciata weareerdogan instagram',
 'how twitter is feeling rn after instagramdown facebookdown',
 'this pretty much sums up my day yesterday you didn t miss much facebook facebookdown instagram instagramdown',
 'checkout this coversong souhilabenlachhab algeria facebookdown instagramdown suzano facebook btsxsnl sweartogod meb felsefeciata weareerdogan instagram',
 'we announce our new location and then hours later we have facebookdown instagramdown justsaying']

In [17]:
nums = [0,223372,446745]

In [187]:
%%time
print("Cleaning and parsing the tweets...\n")
clean_tweets = []
for i in range(nums[0],nums[1]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[1] ))                                                                   
    clean_tweets.append(tweet_cleaner(tweets['tweet_text'].iloc[i]))

Cleaning and parsing the tweets...

Tweets 10000 of 217285 has been processed
Tweets 20000 of 217285 has been processed
Tweets 30000 of 217285 has been processed
Tweets 40000 of 217285 has been processed
Tweets 50000 of 217285 has been processed
Tweets 60000 of 217285 has been processed
Tweets 70000 of 217285 has been processed
Tweets 80000 of 217285 has been processed
Tweets 90000 of 217285 has been processed
Tweets 100000 of 217285 has been processed
Tweets 110000 of 217285 has been processed
Tweets 120000 of 217285 has been processed
Tweets 130000 of 217285 has been processed
Tweets 140000 of 217285 has been processed
Tweets 150000 of 217285 has been processed
Tweets 160000 of 217285 has been processed
Tweets 170000 of 217285 has been processed
Tweets 180000 of 217285 has been processed
Tweets 190000 of 217285 has been processed
Tweets 200000 of 217285 has been processed
Tweets 210000 of 217285 has been processed
Wall time: 1min 2s

In [188]:
len(clean_tweets)

217285

In [189]:
%%time
print("Cleaning and parsing the tweets...\n")
for i in range(nums[1],nums[2]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[2] ))                                                                    
    clean_tweets.append(tweet_cleaner(tweets['tweet_text'].iloc[i]))

Cleaning and parsing the tweets...

Tweets 220000 of 434571 has been processed
Tweets 230000 of 434571 has been processed
Tweets 240000 of 434571 has been processed
Tweets 250000 of 434571 has been processed
Tweets 260000 of 434571 has been processed
Tweets 270000 of 434571 has been processed
Tweets 280000 of 434571 has been processed
Tweets 290000 of 434571 has been processed
Tweets 300000 of 434571 has been processed
Tweets 310000 of 434571 has been processed
Tweets 320000 of 434571 has been processed
Tweets 330000 of 434571 has been processed
Tweets 340000 of 434571 has been processed
Tweets 350000 of 434571 has been processed
Tweets 360000 of 434571 has been processed
Tweets 370000 of 434571 has been processed
Tweets 380000 of 434571 has been processed
Tweets 390000 of 434571 has been processed
Tweets 400000 of 434571 has been processed
Tweets 410000 of 434571 has been processed
Tweets 420000 of 434571 has been processed
Tweets 430000 of 434571 has been processed
Wall time: 1min 5s

In [190]:
len(clean_tweets)

434571

In [242]:
clean_df = pd.DataFrame(clean_tweets,columns=['tweet'])
clean_df['timestamp'] = df['timestamp']
clean_df['username'] = tweets['username']
clean_df['all_hashtags'] = tweets['all_hashtags']
clean_df.head()

,tweet,timestamp,username,all_hashtags
0,true true instagram instagramdown facebookdown,NaN,NaN,NaN
1,how to prepare yourself for social media outage how can you make sure your social media strategy is sustainable check out our guest post on getanewsletter s blog find out how to use social media to collect email subscribers facebookdown instagramdown,2019-03-14 16:27:07,bklyn_hayshun,"['Instagram', 'Instagramdown', 'Facebookdown']"
2,when facebookdown facebookoutage instagramblackout instagramdown listening to uptight everything s alright by stevie wonder on,2019-03-14 16:26:46,Postfity,"['facebookdown', 'instagramdown']"
3,facebookdown and instagramdown make me contemplate life so much teenagers nowadays spend more than hours each day on social network while they can spend that time educating themselves about crypto blockchain and what project can generate like bcnex bigbom zerobank,2019-03-14 16:25:41,NikeMC,"['FacebookDown', 'facebookoutage', 'InstagramBlackout2019', 'instagramdown']"
4,facebook instagram and whatsapp hit by major outage facebookdown instagramdown whatsappdown worldnews,2019-03-14 16:24:50,ftchkn,"['FacebookDown', 'instagramdown', 'crypto', 'blockchain', 'BCNEX', 'Bigbom', 'Zerobank']"

In [231]:
clean_df.describe()

                                                                  tweet
count   434571
unique  1255
top     facebookdown and instagramdown so listen to my motivation video
freq    1732

In [236]:
np.sum(clean_df.isnull().any(axis=1))

0

In [241]:
clean_df.isnull().any(axis=0)

tweet    False
dtype: bool

In [238]:
tweets.iloc[clean_df[clean_df.isnull().any(axis=1)].index,:].head()

Empty DataFrame
Columns: [timestamp, tweet_text, username, all_hashtags]
Index: []

In [239]:
clean_df.dropna(inplace=True)
clean_df.reset_index(drop=True,inplace=True)
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434571 entries, 0 to 434570
Data columns (total 1 columns):
tweet    434571 non-null object
dtypes: object(1)
memory usage: 3.3+ MB

In [240]:
clean_df.head()

                                                                                                                                                                                                                                                                      tweet
0  true true instagram instagramdown facebookdown
1  how to prepare yourself for social media outage how can you make sure your social media strategy is sustainable check out our guest post on getanewsletter s blog find out how to use social media to collect email subscribers facebookdown instagramdown
2  when facebookdown facebookoutage instagramblackout instagramdown listening to uptight everything s alright by stevie wonder on
3  facebookdown and instagramdown make me contemplate life so much teenagers nowadays spend more than hours each day on social network while they can spend that time educating themselves about crypto blockchain and what project can generate like bcnex bigbom zerobank
4  facebook instagram and whatsapp hit by major outage facebookdown instagramdown whatsappdown worldnews

### Different approach to try solving that shifting that occured

In [ ]:
%%time
print("Cleaning and parsing the tweets...\n")
ct = pd.DataFrame(columns=cols)
for i in range(nums[0],nums[1]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[1] ))                                                                   
    ct.append({'tweet_text': tweet_cleaner(tweets['tweet_text'].iloc[i]), 'timestamp': tweets['timestamp'],
                                       'username': tweets['username'],'all_hashtags': tweets['all_hashtags']}, ignore_index=True)

Cleaning and parsing the tweets...

Tweets 10000 of 223372 has been processed
Tweets 20000 of 223372 has been processed
Tweets 30000 of 223372 has been processed