In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
cols = ['timestamp','tweet_text','username','all_hashtags']

In [3]:
df = pd.read_csv("FacebookDown_instagramdown.csv",header=None, names=cols)

In [4]:
df = df[df['timestamp']!='timestamp']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901803 entries, 1 to 902581
Data columns (total 4 columns):
timestamp       901803 non-null object
tweet_text      901803 non-null object
username        901803 non-null object
all_hashtags    901803 non-null object
dtypes: object(4)
memory usage: 34.4+ MB

In [6]:
tweets = df.copy()

In [7]:
tweets.head()

,timestamp,tweet_text,username,all_hashtags
1,2019-03-14 16:27:07,"True, true. #Instagram #Instagramdown #Facebo...",bklyn_hayshun,"['Instagram', 'Instagramdown', 'Facebookdown']"
2,2019-03-14 16:26:46,How to prepare yourself for social media outag...,Postfity,"['facebookdown', 'instagramdown']"
3,2019-03-14 16:25:41,When #FacebookDown #facebookoutage #InstagramB...,NikeMC,"['FacebookDown', 'facebookoutage', 'InstagramB..."
4,2019-03-14 16:24:50,#FacebookDown and #instagramdown make me conte...,ftchkn,"['FacebookDown', 'instagramdown', 'crypto', 'b..."
5,2019-03-14 16:24:01,"Facebook, Instagram And Whatsapp Hit By Major ...",DailyMulligan,"['FacebookDown', 'instagramdown', 'whatsappdow..."

In [8]:
tweets.describe()

,timestamp,tweet_text,username,all_hashtags
count,901803,901803,901803,901803
unique,5712,6844,5857,2937
top,2019-03-14 14:34:19,Good morning. It’s great to see that everyone ...,carlarjenkins,"['FacebookDown', 'instagramdown']"
freq,1340,1338,4138,83261

# Data Preparation

## HTML encoding

In [9]:
pd.options.display.max_colwidth
text_with_html_encoding = tweets[tweets['tweet_text'].str.contains('&amp')]['tweet_text'].iloc[0]
print(text_with_html_encoding)

How to prepare yourself for social media outage? How can you make sure your social media strategy is sustainable? Check out our guest post on GetaNewsletter's blog &amp; find out how to use social media to collect email subscribers https://t.co/yKXmmCwgpA #facebookdown #instagramdown

In [10]:
from bs4 import BeautifulSoup
example1 = BeautifulSoup(text_with_html_encoding, 'lxml')
print(example1.get_text())

How to prepare yourself for social media outage? How can you make sure your social media strategy is sustainable? Check out our guest post on GetaNewsletter's blog & find out how to use social media to collect email subscribers https://t.co/yKXmmCwgpA #facebookdown #instagramdown

## Lower Case

In [11]:
tweets['tweet_text'] = tweets['tweet_text'].astype(str).str.lower()

## '@' mention

##### I noticed that removing the mention of either facebook, instagram or twitter would make me lose sometimes the tweet's meaning. So I chose to remove any other mention. For example:
###### "thank you twitter for being you. yesterday, facebook and twitter were messing"
###### has more sense than 
###### "thank you  for being you. yesterday,  and  were messing"

In [12]:
# The most frequent tweet as I noticed it contained already a '@' from the tweets.describe()
tweets['tweet_text'].mode()[1]

'thank you @twitter for being you. yesterday, @facebook and @instagram were messing with our mojo #facebookdown #instagramdown'

In [13]:
import re
example = tweets['tweet_text'].mode()[1] + '@amine @hosni'
example = re.sub(r'@facebook','facebook',example)
example = re.sub(r'@twitter','twitter',example)
example = re.sub(r'@instagram','twitter',example)
example = re.sub(r'@[A-Za-z0-9]+','',example)
example

'thank you twitter for being you. yesterday, facebook and twitter were messing with our mojo #facebookdown #instagramdown '

## Defining data cleaning function

In [14]:
pattern = '@facebook|@twitter|@instagram|@[a-z0-9]+|https?://[A-Za-z0-9./]+|www.[^ ]+'

In [15]:
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

In [16]:
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    stripped = re.sub(pattern, '', souped)
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], stripped)
    letters_only = re.sub("[^a-z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = tok.tokenize(letters_only)
    return (" ".join(words)).strip()

testing = tweets['tweet_text'].iloc[:10]
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))
test_result[-2]

'andy did not let facebookdown or instagramdown get him down thank you to everyone who donated a total of to build a stronger community rvgives may be over but your support will impact others for a lifetime of restoringhope'

In [17]:
nums = [0,int(len(tweets)/2),len(tweets)]

In [18]:
nums

[0, 450901, 901803]

In [56]:
%%time
print("Cleaning and parsing the tweets...\n")
clean_tweets = []
for i in range(nums[0],nums[1]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[1] ))                                                                   
    clean_tweets.append(tweet_cleaner(tweets['tweet_text'].iloc[i]))

Cleaning and parsing the tweets...

Tweets 10000 of 450901 has been processed
Tweets 20000 of 450901 has been processed
Tweets 30000 of 450901 has been processed
Tweets 40000 of 450901 has been processed
Tweets 50000 of 450901 has been processed
Tweets 60000 of 450901 has been processed
Tweets 70000 of 450901 has been processed
Tweets 80000 of 450901 has been processed
Tweets 90000 of 450901 has been processed
Tweets 100000 of 450901 has been processed
Tweets 110000 of 450901 has been processed
Tweets 120000 of 450901 has been processed
Tweets 130000 of 450901 has been processed
Tweets 140000 of 450901 has been processed
Tweets 150000 of 450901 has been processed
Tweets 160000 of 450901 has been processed
Tweets 170000 of 450901 has been processed
Tweets 180000 of 450901 has been processed
Tweets 190000 of 450901 has been processed
Tweets 200000 of 450901 has been processed
Tweets 210000 of 450901 has been processed
Tweets 220000 of 450901 has been processed
Tweets 230000 of 450901 has been processed
Tweets 240000 of 450901 has been processed
Tweets 250000 of 450901 has been processed
Tweets 260000 of 450901 has been processed
Tweets 270000 of 450901 has been processed
Tweets 280000 of 450901 has been processed
Tweets 290000 of 450901 has been processed
Tweets 300000 of 450901 has been processed
Tweets 310000 of 450901 has been processed
Tweets 320000 of 450901 has been processed
Tweets 330000 of 450901 has been processed
Tweets 340000 of 450901 has been processed
Tweets 350000 of 450901 has been processed
Tweets 360000 of 450901 has been processed
Tweets 370000 of 450901 has been processed
Tweets 380000 of 450901 has been processed
Tweets 390000 of 450901 has been processed
Tweets 400000 of 450901 has been processed
Tweets 410000 of 450901 has been processed
Tweets 420000 of 450901 has been processed
Tweets 430000 of 450901 has been processed
Tweets 440000 of 450901 has been processed
Tweets 450000 of 450901 has been processed
Wall time: 3min 14s

In [57]:
len(clean_tweets)

450901

In [58]:
%%time
print("Cleaning and parsing the tweets...\n")
for i in range(nums[1],nums[2]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[2] ))                                                                    
    clean_tweets.append(tweet_cleaner(tweets['tweet_text'].iloc[i]))

Cleaning and parsing the tweets...

Tweets 460000 of 901803 has been processed
Tweets 470000 of 901803 has been processed
Tweets 480000 of 901803 has been processed
Tweets 490000 of 901803 has been processed
Tweets 500000 of 901803 has been processed
Tweets 510000 of 901803 has been processed
Tweets 520000 of 901803 has been processed
Tweets 530000 of 901803 has been processed
Tweets 540000 of 901803 has been processed
Tweets 550000 of 901803 has been processed
Tweets 560000 of 901803 has been processed
Tweets 570000 of 901803 has been processed
Tweets 580000 of 901803 has been processed
Tweets 590000 of 901803 has been processed
Tweets 600000 of 901803 has been processed
Tweets 610000 of 901803 has been processed
Tweets 620000 of 901803 has been processed
Tweets 630000 of 901803 has been processed
Tweets 640000 of 901803 has been processed
Tweets 650000 of 901803 has been processed
Tweets 660000 of 901803 has been processed
Tweets 670000 of 901803 has been processed
Tweets 680000 of 901803 has been processed
Tweets 690000 of 901803 has been processed
Tweets 700000 of 901803 has been processed
Tweets 710000 of 901803 has been processed
Tweets 720000 of 901803 has been processed
Tweets 730000 of 901803 has been processed
Tweets 740000 of 901803 has been processed
Tweets 750000 of 901803 has been processed
Tweets 760000 of 901803 has been processed
Tweets 770000 of 901803 has been processed
Tweets 780000 of 901803 has been processed
Tweets 790000 of 901803 has been processed
Tweets 800000 of 901803 has been processed
Tweets 810000 of 901803 has been processed
Tweets 820000 of 901803 has been processed
Tweets 830000 of 901803 has been processed
Tweets 840000 of 901803 has been processed
Tweets 850000 of 901803 has been processed
Tweets 860000 of 901803 has been processed
Tweets 870000 of 901803 has been processed
Tweets 880000 of 901803 has been processed
Tweets 890000 of 901803 has been processed
Tweets 900000 of 901803 has been processed
Wall time: 2min 22s

In [59]:
len(clean_tweets)

901803

In [60]:
pd.set_option('display.max_colwidth', -1)
clean_df = pd.DataFrame(clean_tweets,columns=['tweet'])
clean_df.head()

                                                                                                                                                                                                                                                                      tweet
0  true true instagram instagramdown facebookdown
1  how to prepare yourself for social media outage how can you make sure your social media strategy is sustainable check out our guest post on getanewsletter s blog find out how to use social media to collect email subscribers facebookdown instagramdown
2  when facebookdown facebookoutage instagramblackout instagramdown listening to uptight everything s alright by stevie wonder on
3  facebookdown and instagramdown make me contemplate life so much teenagers nowadays spend more than hours each day on social network while they can spend that time educating themselves about crypto blockchain and what project can generate like bcnex bigbom zerobank
4  facebook instagram and whatsapp hit by major outage facebookdown instagramdown whatsappdown worldnews

In [61]:
clean_df.describe()

                                                                  tweet
count   901803
unique  6637
top     facebookdown and instagramdown so listen to my motivation video
freq    2680

In [62]:
clean_df.drop_duplicates(subset='tweet',keep='first',inplace=True)
clean_df.describe()

                                                                                                                           tweet
count   6637
unique  6637
top     this facebookdown and instagramdown situation is getting ridiculous i do business of these pages what is really going on
freq    1

In [63]:
clean_df.to_csv('clean_unique_tweets.csv',encoding='utf-8',index=False)

### Getting all columns, not only the tweets'text

In [19]:
nums = [0,int(len(tweets)/4),int(len(tweets)/2),int(len(tweets)*3/4),len(tweets)]
nums

[0, 225450, 450901, 676352, 901803]

In [ ]:
%%time
print("Cleaning and parsing the tweets...\n")
ct = pd.DataFrame(columns=cols)
for i in range(nums[0],nums[1]): 
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[1] ))                                                                  
    ct = ct.append({'tweet_text': tweet_cleaner(tweets['tweet_text'].iloc[i]), 'timestamp': tweets['timestamp'].iloc[i],
                                       'username': tweets['username'].iloc[i]}, ignore_index=True)

Cleaning and parsing the tweets...

Tweets 10000 of 225450 has been processed
Tweets 20000 of 225450 has been processed
Tweets 30000 of 225450 has been processed
Tweets 40000 of 225450 has been processed
Tweets 50000 of 225450 has been processed
Tweets 60000 of 225450 has been processed
Tweets 70000 of 225450 has been processed
Tweets 80000 of 225450 has been processed
Tweets 90000 of 225450 has been processed
Tweets 100000 of 225450 has been processed
Tweets 110000 of 225450 has been processed
Tweets 120000 of 225450 has been processed
Tweets 130000 of 225450 has been processed
Tweets 140000 of 225450 has been processed
Tweets 150000 of 225450 has been processed
Tweets 160000 of 225450 has been processed
Tweets 170000 of 225450 has been processed

In [ ]:
%%time
print("Cleaning and parsing the tweets...\n")
ct = pd.DataFrame(columns=cols)
for i in range(nums[1],nums[2]): 
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[2] ))                                                                  
    ct = ct.append({'tweet_text': tweet_cleaner(tweets['tweet_text'].iloc[i]), 'timestamp': tweets['timestamp'].iloc[i],
                                       'username': tweets['username'].iloc[i]}, ignore_index=True)

In [ ]:
%%time
print("Cleaning and parsing the tweets...\n")
ct = pd.DataFrame(columns=cols)
for i in range(nums[2],nums[3]): 
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[3] ))                                                                  
    ct = ct.append({'tweet_text': tweet_cleaner(tweets['tweet_text'].iloc[i]), 'timestamp': tweets['timestamp'].iloc[i],
                                       'username': tweets['username'].iloc[i]}, ignore_index=True)

In [ ]:
%%time
print("Cleaning and parsing the tweets...\n")
ct = pd.DataFrame(columns=cols)
for i in range(nums[3],nums[4]): 
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[4] ))                                                                  
    ct = ct.append({'tweet_text': tweet_cleaner(tweets['tweet_text'].iloc[i]), 'timestamp': tweets['timestamp'].iloc[i],
                                       'username': tweets['username'].iloc[i]}, ignore_index=True)

In [35]:
ct.to_csv('clean_tweets.csv',encoding='utf-8',index=False)

In [34]:
ct.head()

,timestamp,tweet_text,username,all_hashtags
0,2019-03-14 16:27:07,true true instagram instagramdown facebookdown,bklyn_hayshun,"['Instagram', 'Instagramdown', 'Facebookdown']"
1,2019-03-14 16:26:46,how to prepare yourself for social media outage how can you make sure your social media strategy is sustainable check out our guest post on getanewsletter s blog find out how to use social media to collect email subscribers facebookdown instagramdown,Postfity,"['facebookdown', 'instagramdown']"
2,2019-03-14 16:25:41,when facebookdown facebookoutage instagramblackout instagramdown listening to uptight everything s alright by stevie wonder on,NikeMC,"['FacebookDown', 'facebookoutage', 'InstagramBlackout2019', 'instagramdown']"
3,2019-03-14 16:24:50,facebookdown and instagramdown make me contemplate life so much teenagers nowadays spend more than hours each day on social network while they can spend that time educating themselves about crypto blockchain and what project can generate like bcnex bigbom zerobank,ftchkn,"['FacebookDown', 'instagramdown', 'crypto', 'blockchain', 'BCNEX', 'Bigbom', 'Zerobank']"
4,2019-03-14 16:24:01,facebook instagram and whatsapp hit by major outage facebookdown instagramdown whatsappdown worldnews,DailyMulligan,"['FacebookDown', 'instagramdown', 'whatsappdown', 'WorldNews']"

In [38]:
ct.describe()

,timestamp,tweet_text,username,all_hashtags
count,516347,516347,516347,516347
unique,5616,6521,5780,2886
top,2019-03-14 14:34:19,facebookdown and instagramdown so listen to my motivation video,BestPhotosFilms,"['FacebookDown', 'instagramdown']"
freq,982,1964,2944,43800

In [39]:
top_10_users = ct['username'].value_counts().head(10)
top_10_users

BestPhotosFilms    2944
ReadScoops         1937
Stacktical         1922
Addlanes           1756
carlarjenkins      1553
CatCaspian         1470
johnsmith0234      1470
gdt_countries      1433
ThemujtabaAli      1344
FoxxOrenji         1064
Name: username, dtype: int64

In [40]:
top_10_tweets = ct['tweet_text'].value_counts().head(10)
top_10_tweets

facebookdown and instagramdown so listen to my motivation video                                                                                                                                                                                          1964
telegram messenger gained million new users within last hours thanks to the facebook instagram and whatsapp global outages facebookisdown facebookdown facebookisdown whatsappdown instagramdown instagramblackout                                       1960
hmmm is it a coincidence that facebook and instagram are down during major brexit vote and that is where the highest outages are facebookdown instagramdown freedomofspeech filteringthenews                                                             1472
telegram messenger gained million new users within last hours thanks to the facebook instagram and whatsapp global outages facebookisdown facebookdown facebookisdown whatsappdown instagramdown instagramblackout instagramisdown                       1446
checkout this coversong souhilabenlachhab algeria facebookdown instagramdown suzano facebook btsxsnl sweartogod meb felsefeciata weareerdogan instagram                                                                                                  1428
join the facebookdown instagramdown downtime compensation airdrop powered by dsla tokens to win cryptocurrencies ico                                                                                                                                     1139
instagram or facebook down is like when power cut for a while in our house facebook facebookdown instagramdown                                                                                                                                           981
thx for not letting us down facebookdown instagramdown                                                                                                                                                                                                   980
worst intros via daemonxmachina instagramdown facebookdown rrrpressmeet bombcyclone instagramnotworking mar affordablehomes badgertough                                                                                                                  980
good morning it s great to see that everyone survived the facebookdown and instagramdown but it does make you wonder what was occurring in the real world that didn t get the attention it deserved while we were distracted by this thursdaythoughts    980
Name: tweet_text, dtype: int64

In [ ]:
tweets_polarity = ct.copy()